@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
html{
  font-family: 'DM Mono', monospace;
}
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.header {
  padding: 30px;
  background-color: rgb(60, 60, 61);
  color: aliceblue;
  text-align: center;
}
.list {
  list-style: none;
  border: 1px gray solid;
  margin: 0 10px;
  padding: 30px 20px 50px 20px;
  box-shadow: gray 10px 10px 20px;
}
.TodoItem{
  padding: 20px;
  border-bottom: 2px solid rgb(185, 185, 185);
}
